.agenda{
    width: 40rem;
    aspect-ratio: 1/1;
    background: #eee;
    border-radius: 2rem;

    &__header{
        background: #e74646;
        height: 20%;
        border-top-right-radius: 2rem;
        border-top-left-radius: 2rem;
    }

    &__month{
        height: 80%;
        background: green;
        padding: 2rem;
        display: flex;
    }
}